img{
    width: 100%;
}
@media only screen and (max-width: 768px){
    .carousel-inner{
        height: 250px !important;
    }
    .navbar-nav{
        margin-left: 0 !important;
    }
}
#header{
    background: #000;

}
#header img{
    width: 300px;
    margin-top: 25px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    color: red;

}
.navbar-nav>li>a{
    line-height: 22px;
        color: #fff;

}
.header-time{
    float: right;
    padding: 10px;
}
.header-time a{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    float: right;
    margin-left: 20px;
    text-align: center;
}
.header-time a:hover{
    text-decoration: none;
    color: red;
}
.navbar-nav{
    margin-left: 19%;
    font-size: 20px;

}
.search{
    outline: #ccc;
}
#slideShow{
    max-width: 1100px;
    margin:auto;
}
#brand{
    max-width: 1100px;
    margin:auto;
}
.container-fluid{
    padding: 0px !important;
}
.carousel-inner{
    height: 400px;
    text-align: center;
}
.carousel-inner img{
    vertical-align: middle;
}
.carousel-control{
        height: auto;
}
.title-name{
    color: red;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.title-name:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.price{
    color: red;
    text-align: center;
    font-size: 30px;
}
.price:hover{
    text-decoration: none;
    color: red
}
.promotional{
    color: lightcoral;
    text-align: center;
    font-size: 30px;
}
.promotional:hover{
    text-decoration: none;
    color: lightcoral;
}
.text-center{
    text-align: center;
    padding-bottom: 20px;
}
.img-height{
    height: 370px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 20px;
    position: relative; 
}
#namesp a:hover{
    color: blue;
}
.img-height img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.img-height .footer-product{
            position: absolute;
            left: 45px;
            bottom: 50px;
            opacity: 0;
            transition: .5s ease;
}
.img-height:hover .footer-product {
    opacity:1   ;   
}
.img-height .footer-product a{
    text-decoration:none;                            
    color: #000;    
    background: #999;

}
.img-height .footer-product a:hover{
    color: red;  
    background: #fff;
}
.footer-product {
    padding:0px; 
    border:0px; 
    margin:0;   
    display:inline-block;
    width:260px;
    height:30px;
    position:relative;
}
.footer-product :hover{
    background: #CCC;
    color: #000;    
    transition: 0.5s ease-in;
}

.gt-product {
    padding:0px; 
    border:0px; 
    margin:0;   
    display:inline-block;
    width:260px;
    height:30px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.gt-product :hover{
    background: #CCC;
    color: #000;    
    transition: 0.5s ease-in;
}
label{
    color: red;
    margin-top: 20px;
}
#footer{
    background: #fff;
       font-size: 20px;
       background: #000;
}
.footer-main a{
    color: #fff;
    font-size: 20px;
}
.footer-main a:hover{
    text-decoration: none;
}
.clear-fix{
    clear: both;
}
.text-center{
    font-size: 18px;
}
.details:hover{
    text-decoration: none;
    color: red;
}
.details{
    border: 1px solid red;
    padding: 10px;
    color: #000;
    font-size: 20px;
}
.buying:hover{
    text-decoration: none;
    color: red;
}
.buying{
    border: 1px solid red;
    padding: 10px;
    color: #000;
    font-size: 20px;
}
.footer-product{
    text-align: center;
    padding-bottom: 15px;
}
.bg-red{
    color: red;
}
.sub-text{
    margin: 10px 0;
}
.content-sub{
   width: 100%;
   height: 200px;
   resize: none;
   outline: #ccc;
   margin-left: 1px;
}
.tt{
    max-width: 1105px;
    height: 50px;
    background: #333;
    margin: auto;
    color: #fff;
    margin-bottom: 10px;
    position:relative; 
    margin-top: 10px;

}
.tt h2{
    position: absolute;
    top: -13px;
    left: 20px;
}
#footer lable{
    font-size: 30px;
}







#khung button{
    width: 300px; 
    height: 60px;
    background: #333; 
    font-size: 25px; 
}
#khung button:hover{
    background: #000;
    color: red;
}
#khung button a{
    color: #fff;
}
#khung button a:hover{
    color: red;
}

#dm button{
    width: 110px; 
    height: 40px;

}
#dm button a{
    color: #000;
    font-size: 14px; 
}
#dm button a:hover{
    color: red;
}

